<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KoAR.SaveEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KoAR.SaveEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <KoAR.SaveEditor.Properties.Settings>
            <setting name="ZoomScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LastDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Upgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastFilterUsed" serializeAs="String">
                <value>1</value>
            </setting>
        </KoAR.SaveEditor.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <KoAR.SaveEditor.Properties.Settings>
            <setting name="MaxZoomScale" serializeAs="String">
                <value>1.75</value>
            </setting>
            <setting name="MinZoomScale" serializeAs="String">
                <value>0.25</value>
            </setting>
        </KoAR.SaveEditor.Properties.Settings>
    </applicationSettings>
</configuration>